<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
    <div class="logo-containter">
        <div class="logo">欢迎使用能效管理平台！</div>
    </div>
    <ngx-theme-switcher></ngx-theme-switcher>
</div>

<nb-actions size="medium"
            class="header-container"
            [class.right]="position === 'normal'"
            [class.left]="position === 'inverse'">
    <nb-action>
        <nb-user [menu]="userMenu" (menuClick)="openLogin()"
                 [name]="user?.name" [picture]="user?.picture"></nb-user>
    </nb-action>
</nb-actions>
<!--<div class="card-body">-->
    <!--<textarea highlight-js>&lt;abm-map #map [options]="options" (ready)="onReady($event)" style="height: 300px;"></abm-map></textarea>-->
    <!--<abm-map #map [options]="options" (ready)="onReady($event)" style="height: 300px;"></abm-map>-->
    <!--<p>{{status}}</p>-->
    <!--<h5 style="border-bottom:1px solid #eee;" class="mt-3 mb-3 pb-3">操作</h5>-->
    <!--<div class="mb-3">-->
        <!--<button type="button" (click)="panTo()" class="btn btn-primary btn-sm">改变地图中心</button>-->
        <!--<button type="button" (click)="zoom()" class="btn btn-primary btn-sm">自动放大缩小</button>-->
    <!--</div>-->
    <!--<div class="mb-3">-->
        <!--<button type="button" (click)="infoWindow()" class="btn btn-primary btn-sm">添加信息窗口</button>-->
    <!--</div>-->
<!--</div>-->



