@import '../../../@theme/styles/themes';

@include nb-install-component() {

    nb-card-body {
        padding: 0;
    }

    .abm-map {
        width: 100%;
        height: nb-theme(card-height-large);
    }
}
