<nb-card>
  <nb-card-header>
      设备信息
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)" (editConfirm)="onUpdateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
<!--<script src="lib/zepto.js"></script>
<script src="lib/qrcode.lib.min.js"></script>
<script src="lib/qrcode.js"></script>-->

<!--<div class="qr-btn" node-type="jsbridge">扫描二维码
    <input node-type="jsbridge" type="file" name="myPhoto" value="扫描二维码1" />
</div>-->

