<div>
    <h2>
        <span jhiTranslate="emCloudWebApp.meterStatus.home.title">Meter Statuses</span>
        <button class="btn btn-primary float-right jh-create-entity create-meter-status" [routerLink]="['/', { outlets: { popup: ['meter-status-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="emCloudWebApp.meterStatus.home.createLabel">
            Create new Meter Status
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="meterStatuses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="emCloudWebApp.meterStatus.meterCode">Meter Code</span></th>
            <th><span jhiTranslate="emCloudWebApp.meterStatus.trafficStatus">Traffic Status</span></th>
            <th><span jhiTranslate="emCloudWebApp.meterStatus.switchStatus">Switch Status</span></th>
            <th><span jhiTranslate="emCloudWebApp.meterStatus.recordTime">Record Time</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meterStatus of meterStatuses ;trackBy: trackId">
                <td><a [routerLink]="['../meter-status', meterStatus.id ]">{{meterStatus.id}}</a></td>
                <td>{{meterStatus.meterCode}}</td>
                <td>{{meterStatus.trafficStatus}}</td>
                <td>{{meterStatus.switchStatus}}</td>
                <td>{{meterStatus.recordTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../meter-status', meterStatus.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-status/'+ meterStatus.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meter-status/'+ meterStatus.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
