<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Bar</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Line</nb-card-header>
      <nb-card-body>
        <ngx-echarts-line></ngx-echarts-line>
      </nb-card-body>
    </nb-card>
  </div>


    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>实时电压曲线</nb-card-header>
            <nb-card-body>
                <ngx-echarts-line-vol></ngx-echarts-line-vol>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>实时电流曲线</nb-card-header>
            <nb-card-body>
                <ngx-echarts-line-cur></ngx-echarts-line-cur>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>实时有功曲线</nb-card-header>
            <nb-card-body>
                <ngx-echarts-use-line></ngx-echarts-use-line>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>实时无功曲线</nb-card-header>
            <nb-card-body>
                <ngx-echarts-useless-line></ngx-echarts-useless-line>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>实时电量曲线</nb-card-header>
            <nb-card-body>
                <ngx-echarts-ele-line></ngx-echarts-ele-line>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>实时无功曲线</nb-card-header>
            <nb-card-body>
                <ngx-echarts-less-line></ngx-echarts-less-line>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>Pie</nb-card-header>
            <nb-card-body>
                <ngx-d3-pie></ngx-d3-pie>
            </nb-card-body>
        </nb-card>
    </div>


  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Multiple x-axis</nb-card-header>
      <nb-card-body>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Area Stack</nb-card-header>
      <nb-card-body>
        <ngx-echarts-area-stack></ngx-echarts-area-stack>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Animation</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Radar</nb-card-header>
      <nb-card-body>
        <ngx-echarts-radar></ngx-echarts-radar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
